* {
    margin-right: 150px;
    line-height: 1.2;
    font-family: "Arial", sans-serif;
}

h3 {
    font-family: "Trebuchet", sans-serif;
    font-weight: lighter;
}

.heading {
    font-family: "Trebuchet", sans-serif;
    text-align: center;
    font-size: 40pt;
    font-weight: lighter;
}

p {
    margin-left: 25px;
   
}

img {
    display: block;
    margin: auto;
    margin-right:350px;
}

.recipe-list {
    font-family: "Arial", sans-serif;
    font-size: 18pt;
    line-height: 3;
    list-style-type: none;
    margin-left: 250px;
    margin-right: 0;
}

#picture {
    width: 500px;
    height: auto;
    display: block;
    margin: auto;
   
}